# PyCharm project
/.idea/

# Virtual environment
/.venv/

# Cache
.mypy_cache/
.pytest_cache/
__pycache__/

# Build
/configlayer.egg-info/
/dist/

# Tests generated temp file
/tests/_file_data/temp_config.ini

# GitHub Actions and local scripts checks
/reports/
/temp/